.cart-item {
	display: flex;
	justify-content: space-between;
	padding: 5px;
	height: fit-content;
	box-shadow: 0px 4px 5px 0px #a8acb010;

	.item-data {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 5px;

		.item-brand {
			font-weight: 100;
			font-size: smaller;
		}

		.item-name {
			font-weight: 300;
			font-size: larger;
			text-align: start;
		}

		.item-price {
			font-weight: 500;
			font-size: larger;
		}

		.item-attributes {
			display: flex;
			flex-direction: column;
			gap: 5px;

			.single-attribute {
				display: flex;
				flex-direction: column;
				gap: 2.5px;

				.attribute-name {
					font-weight: 500;
					font-size: smaller;
				}

				.attribute-values-container {
					display: flex;
					justify-content: flex-start;
					gap: 5px;
					align-items: center;

					.button-color {
						position: relative;

						.attributes-value {
							position: absolute;
							top: 0;
							opacity: 0;
						}

						.attribute-color {
							width: 15px;
							height: 15px;
							border: .1px solid #000;
							display: flex;
							justify-content: center;
							align-items: center;
						}

						input[type='radio']:checked + label {
							outline: 2px solid var(--primary-color);
							outline-offset: 1px;
							border: 0;
						}
					}

					.button {
						position: relative;

						.attributes-value {
							position: absolute;
							top: 0;
							opacity: 0;
						}

						.attributes-label {
							border: #000 solid 1px;
							background: #fff;
							color: #000;
							width: 25px;
							height: 25px;
							display: flex;
							justify-content: center;
							align-items: center;
							font-size: 8px;
							font-weight: 500;
						}

						input[type='radio']:checked + label {
							border: 1px solid #000;
							background: #000;
							color: #fff;
						}
					}
				}
			}
		}
	}


	.right {
		display: flex;
		justify-content: flex-end;
		min-width: 40%;
		width: 40%;

		.image-container {
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;

			.img-btn {
				position: absolute;
				right: 10px;
				bottom: 10px;
				width: 35px;
				display: flex;
				justify-content: space-between;
				align-items: center;

				button {
					color: #fff;
					background: rgba(0, 0, 0, 0.5);
					border: 0;
					outline: 0;
					width: 15px;
					height: 15px;
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
		}

		.qty-btns {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;

			button {
				width: 25px;
				height: 25px;
				border: 1px solid #000;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 40px;
				font-weight: 200;
				background: #fff;
				cursor: pointer;
			}

			input {
				font-weight: 700;
				width: 25px;
				height: 25px;
				border: 0;
				outline: 0;
				padding-left: 15px;
			}
		}
	}
}