.pdp {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 50px 150px;
	text-transform: capitalize;
	max-height: 75vh;
	min-height: 75vh;

	.gallery {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 50px;

		.mini {
			max-height: 600px;
			width: 100px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 5px;
		}

		.main {
			max-height: 600px;
			max-width: 500px;
			min-width: 500px;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 25px;
		}
	}

	.data-container {
		max-width: 32%;
		min-width: 32%;
		padding: 25px;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		gap: 15px;

		form {
			display: flex;
			justify-content: space-between;
			flex-direction: column;
			gap: 15px;
		}

		.product-name {
			p {
				font-size: 30px;
				font-weight: 400;
				letter-spacing: -2px;

				&::first-line {
					font-weight: 600;
				}
			}

			span {
				font-size: 30px;
				font-weight: 700;
				font-style: italic;
			}
		}

		.item-attributes {
			display: flex;
			flex-direction: column;
			gap: 15px;

			.single-attribute {
				display: flex;
				flex-direction: column;
				gap: 10px;

				.attribute-name {
					font-size: 18px;
					font-weight: 700;
				}

				.attribute-values-container {
					display: flex;
					justify-content: flex-start;
					gap: 15px;
					align-items: center;

					input[type='radio']:disabled {
						cursor: default;
					}


					.button-color {
						position: relative;

						.attributes-value {
							width: 100%;
							height: 100%;
							position: absolute;
							top: 0;
							opacity: 0;
							cursor: pointer;
						}

						.attribute-color {
							width: 35px;
							height: 35px;
							border: .1px solid #000;
							display: flex;
							justify-content: center;
							align-items: center;
						}

						input[type='radio']:checked + label {
							outline: 2px solid var(--primary-color);
							outline-offset: 1px;
							border: 0;
						}

						input[type='radio']:disabled + label {
							border: 1px solid #999999;
							background-color: #cccccc !important;
							color: #666666;
							cursor: default;
						}
					}

					.button {
						position: relative;

						.attributes-value {
							width: 100%;
							height: 100%;
							position: absolute;
							top: 0;
							opacity: 0;
							cursor: pointer;
						}

						.attributes-label {
							width: 65px;
							height: 45px;
							border: #000 solid 1px;
							background: #fff;
							color: #000;
							text-align: center;
							display: flex;
							justify-content: center;
							align-items: center;
							font-size: 16px;
							font-weight: 400;
						}

						input[type='radio']:checked + label {
							border: 1px solid #000;
							background: #000;
							color: #fff;
						}

						input[type='radio']:disabled + label {
							border: 1px solid #999999;
							background-color: #cccccc;
							color: #666666;
							cursor: default;
						}
					}
				}
			}
		}

		.product-price {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: flex-start;
			gap: 15px;

			.item-price {
				font-size: 24px;
				font-weight: 700;
			}
		}
	}

	.addtocart-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 15px 30px;
		width: 100%;
		height: 50px;
		background: var(--primary-color);
		border: 0;
		outline: 0;
		color: #fff;
		font-weight: 500;
		text-transform: uppercase;
		transition-duration: .3s;

		&:hover {
			font-weight: 900;
		}

		&:disabled {
			background: #5ece7c6e;
			cursor: default;
		}
	}

	.description {
		font-size: 16px;
		text-transform: lowercase;
		font-style: italic;
		font-weight: 400;
		overflow: auto;
		height: fit-content;
		max-height: 160px;
	}

	.outofstock-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 15px 30px;
		width: 100%;
		height: 50px;
		outline: 0;
		font-weight: 500;
		text-transform: uppercase;
		transition-duration: .3s;
		border: 1px solid #999999;
		background-color: #cccccc;
		color: #666666;
		cursor: default;

		&:hover {
			font-weight: 900;
		}
	}
}