.page {
	position: relative;

	&:hover {
		.add-to-cart {
			visibility: visible;
		}
	}

	.add-to-cart {
		display: flex;
		justify-content: center;
		align-items: center;
		background: var(--primary-color);
		width: 35px;
		height: 35px;
		border-radius: 50%;
		position: absolute;
		bottom: 100px;
		right: 10px;
		box-shadow: 0px 4px 11px 0px #1d1f221a;
		visibility: hidden;

		&:hover {
			transform: scale(1.75);
			transition-duration: 0.3s;
		}
	}
}

.product {
	width: 300px;
	max-width: 300px;
	height: 390px;
	max-height: 390px;
	padding: 25px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 15px;
	box-shadow: 0px 4px 5px 0px #a8acb010;

	&:hover {
		box-shadow: 0px 4px 35px 0px #a8acb030;
		transition-duration: 0.3s;
	}

	&-image {
		position: relative;
		min-width: 300px;
		min-height: 300px;
		display: flex;
		justify-content: center;
		align-items: center;

		img {
			width: auto;
			height: auto;
			max-width: 300px;
			max-height: 300px;
		}
	}

	&-name {
		display: flex;
		flex-direction: column;
		font-weight: 300;
		font-size: 18px;
	}

	&-price {
		font-weight: 500;
		font-size: 18px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 3px;
	}
}

.prd-container {
	position: relative;
	margin-bottom: 35px;
}

.out-of-stock {
	position: absolute;
	top: 0;
	right: 0;
	text-transform: uppercase;
	color: #8d8f9a;
	background: transparent;
	width: 100%;
	height: 90%;
	font-size: 24px;
	line-height: 160%;
	z-index: 50;
	display: flex;
	justify-content: center;
	align-items: center;

	&:hover {
		span {
			font-weight: 500;
			border: 0;
			transition-duration: 0.3s;
		}
	}

	span {
		border: 0.1px solid #8d8f9a50;
		padding: 0px 15px;
		font-weight: 100;
		transition-duration: 0.3s;
	}
}