.cart-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	width: 100%;

	.item-data {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		width: inherit;
		height: 130px;

		span:nth-child(1) {
			font-weight: 200;
			text-align: left;
		}

		span:nth-child(2) {
			font-weight: 400;
		}

		&-attributes {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 10px;

			div {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 25px;
				height: 25px;
				border: 1px solid #000;
			}
		}
	}

	.qty-btns {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		height: 130px;

		div {
			width: 25px;
			height: 25px;
			border: 1px solid #000;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 40px;
			font-weight: 200;
		}

		span {
			font-weight: 700;
		}
	}

	.item-image {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 5px;
	}
}