.cart-item {
	display: flex;
	justify-content: space-between;
	padding: 10px 10px;
	height: 200px;
	box-shadow: 0px 4px 5px 0px #a8acb010;

	.item-data {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;

		.item-brand {
			font-weight: 100;
			font-size: smaller;
		}

		.item-name {
			font-weight: 300;
			font-size: larger;
			text-align: start;
		}

		.item-price {
			font-weight: 500;
			font-size: larger;
		}

		.attribute-name {
			font-weight: 200;
			font-size: smaller;
		}

		&-attributes {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: flex-start;

			&-section {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				gap: 5px;

				.attribute-color {
					width: 15px;
					height: 15px;
					border: .1px solid #000;

					&:hover {
						outline: 2px solid var(--primary-color);
						outline-offset: 2px;
						border: 0;
					}
				}

				label {
					display: flex;
					justify-content: center;
					align-items: center;
					border: 1px solid #000;
					width: 30px;
					height: 30px;
					font-size: 10px;

					// &:hover {
					// 	background: var(--primary-color);
					// 	color: #fff;
					// 	border: 1px solid var(--primary-color);
					// 	transition-duration: .3s;
					// }
				}
			}
		}
	}

	.right {
		display: flex;
		justify-content: center;
		// align-items: center;

		.image-container {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.qty-btns {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;

			button {
				width: 25px;
				height: 25px;
				border: 1px solid #000;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 40px;
				font-weight: 200;
				background: #fff;
				cursor: pointer;
			}

			input {
				font-weight: 700;
				width: 25px;
				height: 25px;
				border: 0;
				outline: 0;
				padding-left: 15px;
			}
		}
	}
}