.mini-cart {
	min-height: 250px;
	max-height: 550px;
	max-width: 375px;
	min-width: 375px;
	box-shadow: 0px 4px 35px 0px #A8ACB030;
	position: absolute;
	right: 0;
	top: 38px;
	z-index: 1000;
	overflow-x: scroll;
	padding: 20px 10px 0px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 25px;
	background: #fff;

	&-summary {
		width: -webkit-fill-available;
		position: sticky;
		bottom: 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		// align-items: center;
		gap: 20px;
		background: #fff;
		padding: 20px 5px;
	}


	.price-container {
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 100%;
		position: sticky;

		span:nth-child(1) {
			font-weight: 500;
		}

		span:nth-child(2) {
			font-weight: 800;
		}
	}

	.btn-container {
		display: flex;
		justify-content: space-between;
		// width: ;
		// align-items: center;
		// gap: 10px;

		div {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 15px 30px;
			width: 90px;
			height: 30px;
			background: #FFFFFF;
			border: 1px solid #1D1F22;
			text-transform: uppercase;
			font-weight: 600;
		}

		.checkout-btn {
			background: var(--primary-color);
			border: 1px solid var(--primary-color);
			color: #FFFFFF !important;
		}
	}
}